<div id="form">
  Session name:<br>
  <input type="text" name="name" id="name"/>
  <br>
  Speaker:<br>
  <input type="text" name="speaker" id="speaker" />
  <br>
  Date:<br>
  <input type="date" name="date" id="date" />
  <br><br>
  <input class="submit" type="submit" value="Submit">
</div>
